  <div class="container">
    <div class="row">

      <div class="col-3" *ngFor="let item of ricks">
        <div class="card mb-3" [@fade]="'in'">
          <div class="card-header">
            <strong> {{item.dimension.name}} </strong>
          </div>
          <div class="card-body" style="background-image: url('{{item.dimension.image}}'); height: 100px;">
          </div>
          <div class="card-footer">
            <div class="row" style="cursor: pointer;" (click)="openRick(item.id)">
              
              <ngx-avatar src="../../assets/img/rick/{{item.id}}.jpg" title="{{item.name}}" class="col-6"></ngx-avatar>
              <ngx-avatar src="../../assets/img/morty/{{item.morty.id}}.jpg"  title="{{item.morty.name}}" class="col-6"></ngx-avatar>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-md-center" *ngIf="response">
    
        <pagination [boundaryLinks]="true" [directionLinks]="true" [totalItems]="response.totalRecords"
        [(ngModel)]="response.pageNumber" [itemsPerPage]="12" (pageChanged)="pageChanged($event)">
      </pagination>
    
    </div>
  </div>